.movielist-wrapper {
  padding: 40px;
}

.movielist {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 200px;
  height: 250px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

.movielist-heading h1 {
  text-align: center;
}

.movie img {
  width: 100%;
}

.movie h2 {
  position: absolute;
  top: 15px;
  left: 10px;
  color: white;
}

.movie button {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.movie-detail {
  padding: 40px;
}

.movie-detail img {
  width: 100%;
}