<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog List</h1>
    <ul>
        <% blogs.forEach((blog) => { %>
            <li>
                <a href="/blog/<%= blog.id %>"><h2><%= blog.title %></h2></a>
                <p><%= blog.content %></p>
            </li>
        <% })%>
    </ul>
</body>
</html>